[Unit]
Description=Telegram Bot daemon
After=network.target

[Service]
User=vkhnychenko
Group=vkhnychenko
WorkingDirectory=/home/vkhnychenko/foodbot_django/
Environment="PYTHONPATH=/home/vkhnychenko/foodbot_django/"
ExecStart=/home/vkhnychenko/foodbot_django/.venv/bin/python /home/vkhnychenko/foodbot_django/tga/manage.py bot

[Install]
WantedBy=multi-user.target
