[Unit]
Description=Telegram Bot daemon
After=network.target

[Service]
User=vkhnychenko
Group=vkhnychenko
WorkingDirectory=/home/vkhnychenko/td/
Environment="PYTHONPATH=/home/vkhnychenko/td/"
ExecStart=/home/vkhnychenko/td/.venv/bin/python /home/vkhnychenko/td/tga/manage.py bot

[Install]
WantedBy=multi-user.target
